:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
  color: var(--title-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  list-style: none;
  margin: 0px;
}
.link {
  text-decoration: none;
  display: block;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid black;
}

/* Хедер */

/* .header {
  padding-top: 23px;
  padding-bottom: 26px;
} */

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  margin-right: 85px;
}
.navigation-list-item-link {
  padding-top: 31px;
  padding-bottom: 33px;
}
.address-list {
  display: flex;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .address-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-web {
  color: var(--accent-color);
}
.navigation-list-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.address {
  font-style: normal;
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--accent-color);
}
.address-list-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Герой */

.hero {
  background-color: cadetblue;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}
/* .order {
  display: flex;
  justify-content: center;
} */

.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
}

/* Преимущества */

.advantages {
  padding-top: 119px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  padding-left: 0;
}
.advantages-list-item {
  width: 270px;
}
.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-list-item-icon {
  margin-bottom: 55px;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantages-list .subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}
.description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
  margin: 0;
}

/* Чем мы занимаемся */

.services {
  padding-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.services-list {
  display: flex;
  padding-left: 0;
}
.services-list-item:not(:last-child) {
  margin-right: 30px;
}
.services-list-item .subtitle {
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}

/* Наша команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .title {
  margin-top: 0;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  padding-left: 0;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.social-links {
  display: flex;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
}
.social-links-item:not(:last-child) {
  margin-right: 10px;
}
.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

/* Постоянные клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  padding-left: 0;
}
.clients-list-item {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Футер */

.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  align-content: center;
}
.footer-elements {
  display: flex;
}
.footer-elements-logo-address {
  margin-right: 69px;
}
.footer .logo {
  color: #ffffff;
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}
.address-map {
  font-weight: 400;
  line-height: 1.71;
  color: #ffffff;
  display: block;
  margin-bottom: 9px;
}
.address-contact {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.address-contact:not(:last-child) {
  margin-bottom: 9px;
}
.join {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-list {
  display: flex;
  padding-left: 0;
}

/* Примеры работ */
.filter-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-color);
  background-color: #f5f4fa;
}
.filter-item-btn:hover,
.filter-item-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.works-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.works-list-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
.works-list-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
